[submodule "exams"]
	path = exams
	url = git@github.com:CornWorld/learning-infiniTensor-exam.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:CornWorld/learning-infiniTensor-cxx.git
