[submodule "exams"]
	path = exams
	url = git@github.com:CornWorld/learning-infiniTensor-exam.git
[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:CornWorld/learning-infiniTensor-cxx.git
[submodule "learning-lm-rs"]
	path = learning-lm-rs
	url = https://github.com/CornWorld/learning-infiniTensor-lm.git
